In [173]:
import datetime
import pandas as pd
import geopandas as gpd
import rasterio

In [174]:
all_files_csv = '/datasets/rpartsey/satellite/planet/smart_crop/all_files.csv'
df = pd.read_csv(all_files_csv, parse_dates=['date'], date_parser=lambda x: datetime.datetime.strptime(x, '%Y-%m-%d'))

In [175]:
df.head(2)

,date,image_path,mask_path,bbox_path,label
0,2017-03-11,/datasets/rpartsey/satellite/planet/smart_crop...,/datasets/rpartsey/satellite/planet/smart_crop...,/datasets/rpartsey/satellite/planet/smart_crop...,1
1,2017-03-11,/datasets/rpartsey/satellite/planet/smart_crop...,/datasets/rpartsey/satellite/planet/smart_crop...,/datasets/rpartsey/satellite/planet/smart_crop...,1

In [176]:
image_id = 244
row = df.iloc[image_id]

In [177]:
with rasterio.open(row.image_path) as src:
    image = src.read()

In [178]:
c, h, w = image.shape
c, h, w

(4, 361, 400)

In [179]:
left, bottom, right, top = src.bounds
left, bottom, right, top

(651924.0, 5545041.0, 653124.0, 5546124.0)

In [197]:
(right - left) / w

3.000000000000291

In [198]:
(top - bottom) / h

3.0

In [182]:
src.crs

CRS.from_epsg(32636)

In [183]:
gdf = gpd.read_file(row.bbox_path)

In [184]:
gdf.geometry.bounds

       minx       miny      maxx       maxy
0  651924.0  5545041.0  653124.0  5546124.0

In [192]:
gdf = gdf.to_crs(epsg=32636)

In [193]:
gdf

                                            geometry
0  POLYGON ((653124.000 5545041.000, 653124.000 5...

In [194]:
gdf.geometry.bounds

       minx       miny      maxx       maxy
0  651924.0  5545041.0  653124.0  5546124.0

In [195]:
left, bottom, right, top = gdf.geometry.bounds.values[0]

In [196]:
left, bottom, right, top

(651924.0, 5545041.0, 653124.0000000001, 5546124.0)

In [110]:
gdf.geometry.bounds.values

array([[35.12162617, 50.03795213, 35.13880456, 50.04799339]])

In [95]:
gdf.geometry

0    POLYGON ((653124.000 5545041.000, 653124.000 5...
Name: geometry, dtype: geometry

In [96]:
gdf.crs

<Projected CRS: EPSG:32636>
Name: WGS 84 / UTM zone 36N
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: World - N hemisphere - 30°E to 36°E - by country
- bounds: (30.0, 0.0, 36.0, 84.0)
Coordinate Operation:
- name: UTM zone 36N
- method: Transverse Mercator
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [97]:
shapefile_path = '/datasets/rpartsey/satellite/planet/SNP_Planet_Scenes_2017_Spring_I/20170402_074845_0f17/20170402_074845_0f17.shp'

In [98]:
shapes_df = gpd.read_file(shapefile_path)
shapes = shapes_df['geometry']
shapes

0    POLYGON ((34.97926 50.09216, 34.98053 50.09158...
1    POLYGON ((34.96350 50.10919, 34.96420 50.10948...
2    POLYGON ((34.97092 50.06544, 34.97092 50.06491...
3    POLYGON ((34.97940 50.07008, 34.98014 50.06984...
Name: geometry, dtype: geometry

In [129]:
shapes.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [130]:
gdf

                                            geometry
0  POLYGON ((653124.000 5545041.000, 653124.000 5...

In [128]:
gdf.geometry.crs

<Projected CRS: EPSG:32636>
Name: WGS 84 / UTM zone 36N
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: World - N hemisphere - 30°E to 36°E - by country
- bounds: (30.0, 0.0, 36.0, 84.0)
Coordinate Operation:
- name: UTM zone 36N
- method: Transverse Mercator
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [102]:
gdf = gdf.to_crs(shapes.crs)

In [103]:
gdf.iloc[0]

geometry    POLYGON ((35.13837 50.03795, 35.13880 50.04769...
Name: 0, dtype: geometry

In [104]:
gdf.geometry.bounds

        minx       miny       maxx       maxy
0  35.121626  50.037952  35.138805  50.047993

In [135]:
new_shapes = shapes.to_crs(epsg=32636)

In [136]:
new_shapes

0    POLYGON ((641571.769 5550753.523, 641664.318 5...
1    POLYGON ((640394.334 5552617.155, 640443.355 5...
2    POLYGON ((641053.292 5547767.575, 641054.858 5...
3    POLYGON ((641646.629 5548299.346, 641700.479 5...
Name: geometry, dtype: geometry

In [137]:
new_shapes = shapes.to_crs(epsg=4326)

In [138]:
new_shapes

0    POLYGON ((34.97926 50.09216, 34.98053 50.09158...
1    POLYGON ((34.96350 50.10919, 34.96420 50.10948...
2    POLYGON ((34.97092 50.06544, 34.97092 50.06491...
3    POLYGON ((34.97940 50.07008, 34.98014 50.06984...
Name: geometry, dtype: geometry

In [139]:
shapes.to_crs?